
.submit{
    background-color: #DB4444;
}

.title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.5px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 24px;
    color: #5a5a5a;
    margin-bottom: 0.5rem;
  }
  
  .title::before,
  .title::after {
    width: 12px;
    height: 12px;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    left: 0px;
    background-color: #5a5a5a;
  }
  
  .title::after {
    animation: pulse 1s linear infinite;
  }

  img{
    border-radius: 0 20% 20% 0;
  }
  
.containr2{

    padding-bottom: 50px ;
    max-width: 97% ;
}
.container3{
    margin-top: 30px;
}
.custom-input {
    width: 100%;
    padding: 10px 0;
   border: none;
    border-bottom: 1px solid #ddd;
    /* border: none; */
    outline: none !important;
    
  }
  

  @keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }
    to {
        transform: scale(1.6);
        opacity: 0;
    }
  }

