<div class="w-100" style="margin-top: 100px;">
  <div class="pg-footer  bg-black text-white d-flex align-items-center justify-content-center">
    <div class="footer-align w-100 d-flex align-items-start justify-content-center p-4">
      <div class="default-width ">
        <p style="font-size: 20px;" class="mb-3">Support</p>
        <p class="mb-1">Egypt</p>
        <p class="mb-1">TeamBlink&#64;gmail.com</p>
      </div>
      <div class="default-width">
        <p style="font-size: 20px;" class="mb-3">Account</p>
        @if (UserStatus) {
        <a class="mb-1" href="#" class="default-anchor">My Account</a>
        }
        @if (!UserStatus) {
            <a class="mb-1" href="#" class="default-anchor" routerLink="login">Login / Register</a>
        }
        @if (UserStatus) {
        <a class="mb-1" href="#" class="default-anchor" routerLink="cart">Cart</a>
        <a class="mb-1" href="#" class="default-anchor">Whishlist </a>
        }
    </div>
      <div class="default-width">
        <p style="font-size: 20px;" class="mb-3">Download App</p>
        <img src="assets/images/Frame 719.png" alt="">
        <div class="footer-align gap-1 mt-3">
          <i class="col-md-1 mx-2 fa-brands fa-facebook fa-xl"></i>
          <i class="col-md-1 mx-2 fa-brands fa-twitter fa-xl"></i>
          <i class="col-md-1 mx-2 fa-brands fa-instagram fa-xl"></i>
          <i class="col-md-1 mx-2 fa-brands fa-linkedin fa-xl"></i>
        </div>
      </div>
    </div>
  </div>
</div>
