<section class="iti-locations " >
    <div class=" text-center ">
      <h4 class="fst-italic " style="color: #af0303;">Blink Locations</h4>
      <hr class="mx-auto rounded" style="border: 2px solid #e70000 ;width: 100px;">
      <p>TAF Main Locations all over the country</p>
    </div>
      <div class="locations-container">
        <div class="map-section">
          <div class="data">
            <div #mymap id="mymap" style="width: 90%; height: 270px;"></div>
          </div>
        </div>
  
        <div class="branches-section">
          <div class="branches-grid " style=" height: 270px;">
            <div class="location main fs-6" data-type="main">
              <i class="fa-solid fa-location-dot text-danger mx-2"></i> Blink - Cairo
            </div>
            <div class="location branch fs-6" data-type="branch">
              <i class="fa-solid fa-location-dot text-dark mx-2"></i> Blink - Alexandria
            </div>
            <div class="location branch fs-6" data-type="branch">
              <i class="fa-solid fa-location-dot text-dark mx-2"></i> Blink - Assuit
            </div>
            <div class="location branch fs-6" data-type="branch">
              <i class="fa-solid fa-location-dot text-dark mx-2"></i> Blink - Aswan
            </div>
            <div class="location branch fs-6" data-type="branch">
              <i class="fa-solid fa-location-dot text-dark mx-2"></i> Blink - Ismailia
            </div>
            <div class="location branch fs-6" data-type="branch">
              <i class="fa-solid fa-location-dot text-dark mx-2"></i> Blink - Mansoura
            </div>
            <div class="location branch fs-6" data-type="branch">
              <i class="fa-solid fa-location-dot text-dark mx-2"></i> Blink - Menofia
            </div>
            <div class="location branch fs-6" data-type="branch">
              <i class="fa-solid fa-location-dot text-dark mx-2"></i> Blink - Minya
            </div>
          </div>
  
        
        </div>
      </div>
    </section>