<div class="row m-0 d-flex justify-content-center all  " style="padding-top: 100px;">
    <div class="col-sm-12 ">
        <div class=" col-sm-2  ">
            <h4 class=" fst-italic " style="color: #af0303;">Who We Are</h4>
            <hr class="mx-3 rounded" style="border: 2px solid #dd0000 ;width: 100px;">
        </div>
    </div> 
    <div class="row d-flex justify-content-center">
        <div class="content col-sm-8  d-inline-block mt-3  p-3">
            <strong class="d-inline-block">Company</strong>
            <p class="d-inline-block">
               <span class="fw-bold fst-italic text-danger text-decoration-none">Blink</span>  is one of the largest international fashion companies. It belongs to Mordio, one of the world’s largest distribution groups.
                The customer is at the heart of our unique business model, which includes design, production, distribution and sales through our extensive retail network.
                For more information, please visit the Inditex Group website: <a  class="link-danger">www.LinkedIn.com</a> </p>
        </div>
        <div class="img col-sm-4 d-inline-block ">
        <img src="../../../assets/images/WhoWeAre.jpg" style="height: 200px; width: 100%;" class="rounded shadow-lg" alt="">
        </div>

    </div>
</div>
