<div class="row m-0 d-flex justify-content-center ">
    <div class="col-sm-2 ceo  text-center">
      <div class="">
          <img src="../../../assets/images/abdelazez.jpg" class="shadow-lg" alt="">
      </div>
      <div class="mt-3 text-center   ">
          <h6 class="text-body-tertiary fw-bold ">Abdelazez Mahmoud</h6>
          <p class="text-danger text-secondary text-center  mx-auto fw-bold" style="font-size: 0.8rem; opacity: 0.7;">Blink Founder</p>
        </div>
    </div> <!-- abdelazez -->
    
    <div class="col-sm-2 ceo  text-center">
      <div class="">
          <img src="../../../assets/images/tarek.jpg" class="shadow-lg" alt="">
      </div>
      <div class="mt-3 text-center ">
          <h6 class="text-body-tertiary fw-bold">Tarek Farouq</h6>
          <p class="text-danger text-secondary text-center  mx-auto fw-bold" style="font-size: 0.8rem; opacity: 0.7;">Blink Founder</p>
        </div>
    </div> <!-- tarek -->

    <div class="col-sm-2 ceo text-center">
      <div class="">
          <img src="../../../assets/images/gamal.jpg" class="shadow-lg" alt="">
      </div>
      <div class="mt-3 text-center ">
          <h6 class="text-body-tertiary fw-bold">Gamal Sherif</h6>
          <p class="text-danger text-secondary text-center  mx-auto fw-bold" style="font-size: 0.8rem; opacity: 0.7;">Blink Founder</p>
        </div>
    </div> <!-- gamal -->

    <div class="col-sm-2 ceo  text-center">
      <div class="">
          <img src="../../../assets/images/asmaa.jpg" class="shadow-lg" alt="">
      </div>
      <div class="mt-3 text-center ">
          <h6 class="text-body-tertiary fw-bold">Asmaa Ahmed</h6>
          <p class="text-danger text-secondary text-center  mx-auto fw-bold" style="font-size: 0.8rem; opacity: 0.7;">Blink Founder</p>
        </div>
    </div> <!-- asmaa -->

    <div class="col-sm-2 ceo  text-center">
      <div class="">
          <img src="../../../assets/images/andrew.jpg" class="shadow-lg" alt="">
      </div>
      <div class="mt-3 text-center ">
          <h6 class="text-body-tertiary fw-bold">Andrew Emad</h6>
          <p class="text-danger text-secondary text-center  mx-auto fw-bold" style="font-size: 0.8rem; opacity: 0.7;">Blink Founder</p>
        </div>
    </div> <!-- andrew -->
  </div>