.submit {
  background-color: #DB4444!important;
 cursor: pointer !important;
  border-radius: 4px !important;
  transition: all 0.3s ease !important; ;
}

.submit:hover {
  background-color: #df7979;
  transform: translateY(-2px);
}

.submit:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
}

.title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 24px;
  color: #5a5a5a;
  margin-bottom: 0.5rem;
}

.title::before,
.title::after {
  width: 12px;
  height: 12px;
  position: absolute;
  content: "";
  border-radius: 50%;
  left: 0px;
  background-color: #5a5a5a;
}

.title::after {
  animation: pulse 1s linear infinite;
}

.containr2 {
  padding-bottom: 50px;
  max-width: 97%;
}

img {
  border-radius: 0 20% 20% 0;
}

.container3 {
  margin-top: 30px;
}

.custom-input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none !important;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  margin-bottom: 5px;
}

.custom-input:focus {
  border-bottom: 1px solid #DB4444;
}

.custom-input-error {
  font-size: 14px;
  padding: 5px 0;
}

@keyframes pulse {
  from {
      transform: scale(0.9);
      opacity: 1;
  }
  to {
      transform: scale(1.6);
      opacity: 0;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container3 {
      margin-top: 20px;
  }
  
  .col-md-6 {
      padding: 0 15px;
  }
  
  img {
      margin-bottom: 30px;
      border-radius: 0;
      width: 100%;
      height: auto;
  }
}